.table {
  border: 1px solid #666;
  table-layout: fixed;
}


/* Style for cell */
.jt-cell {
  border: 1px solid #aaa !important;
  width: var(--cell-width) !important;
  height: var(--cell-height) !important;
  overflow: hidden !important;
}

/* Style for the select element */
.jt-select {
  margin: 0;
  padding: 0;
  background: none;
  font-size: small;
  color: inherit;
  font-family: inherit;
  box-sizing: border-box;
  border: 1px solid #aaa !important;
  overflow: visible !important;
  visibility: visible !important;
  opacity: 1 !important;
  max-width: 200px;
  min-width: 100px;
}

/* Input box */
.jt-input {
  max-width: var(--cell-width);
  min-width: 100px;
}

/* iframe box */
.jt-iframe {
  max-width: var(--cell-width);
  min-width: 100px;
  max-height: var(--cell-width);
  min-height: 100px;
}

/* video */
.jt-video {
  /* override other styles to make responsive */
  width: 100% !important;
  height: auto !important;
}